<!-- 

<mat-grid-list cols="1" rowHeight="300px" rowWidth="100%">
        <mat-grid-tile
        *ngFor="let question of _QstService.detailInterviewQ.detailInterviewqs; let i = index">
        
        <table>  
                <tr>         
                    <mat-card>
                            <mat-card-header>                              
                            <h1> {{question.category}} </h1>
                             companyname: {{question.companyname}}
                             Question: {{question.questiontext}}
                            </mat-card-header>
                       <mat-card-content>
                           Comment: {{question.comments[i].textbody}}
                           Date: {{question.comments[i].date}}
                       </mat-card-content>
                    </mat-card>
                </tr>
        </table>
    </mat-grid-tile>
</mat-grid-list> -->

